body {
    height: 200vh;
}


main, .tile {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    color: white;
    position: absolute;
    box-sizing: border-box;
}

header {
    background-color: grey;
    color: white;
    position: sticky;
    width: 100%;
    top: 0;
}

.tile:nth-child(1) {
    top: 0px;
    left: 0px;
    
}

.tile:nth-child(2) {
    top: 0px;
    left: 205px;
}

.tile:nth-child(3) {
    top: 0px;
    left: 410px;
}

.tile:nth-child(4) {
    top: 205px;
    left: 0px;
}

.tile:nth-child(5) {
    top: 205px;
    left: 205px;
}

.tile:nth-child(6) {
    top: 205px;
    left: 410px;
}

.tile:nth-child(7) {
    top: 410px;
    left: 0px;
}

.tile:nth-child(8) {
    top: 410px;
    left: 205px;
}

.tile:nth-child(9) {
    top:1410px;
    left: 410px;
}
footer{
    background-color: grey;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
